.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    background-color: black;
    font-size: 20px;
    /* border-bottom: solid 2px #512981; */
}

.logo-title {
    
}
#logo {
    color: #3891A6;
}

.link-container {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
}

.link-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    padding: 7px;
    border: solid 2px transparent;
    height: 20px;
    width: 120px;
    
}
.link-text:hover {
    color: #3891A6;
}

#signin-text:active {
    border: solid 2px #3891A6;
    box-shadow: inset 0 0 5px 0 #762300;
}

#signup-text {
    color: #fff;
    background-color: #3891A6;
    border: solid 2px #3891A6;
    padding: 7px;
    transition: 0.4s;
}
#signup-text:hover {
    background-color: black;
}
#signup-text:active {
    border: solid 2px #fff;
    box-shadow: inset 0 0 5px 0 #762300;
}