body {
    margin: 0;
    height: 99vh;
    background-color: #831621;
    font-family: Arlrdb;
    /* width: 90+9vw; */
}

@font-face {
    font-family: Arlrdb;
    src: url("./ARLRDBD.ttf")
}